{% extends 'base.html' %}

{% block title %} Product Psge {% endblock %}

{% block content %}
<h1>Product Page</h1>
<h3><p>The product page should provide a clear and detailed overview of the item to help customers make informed decisions. At the top, feature high-quality images of the product with a zoom-in option and multiple angles or color variations. Below the product name, highlight key information like price, available sizes or colors, stock status, and customer ratings. Include a detailed product description that covers features, materials, dimensions, and usage instructions. Offer shipping details, delivery estimates, and return policies nearby. Additional sections should display related or recommended products, customer reviews, and a size or feature comparison chart if relevant.</p></h3>
{% endblock %}